In [3]:
!pip install pyproj

Collecting pyproj
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 3.5 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj) (2021.10.8)
Installing collected packages: pyproj
Successfully installed pyproj-3.2.1

In [4]:
import pandas as pd
import pyproj
from inspect import cleandoc
from io import StringIO




s = '''
    Site_Reference  LA_Reference    Start_Date  eastings northings
    0   380500145   NaN 20130101    88600.0	855800.0
    1   380500128   NaN 20060331    219000.0	949700.0
    2   380500085   NaN 20030401    167700.0	726800.0
    3   380500008   NaN 19980930    172400.0	771800.0
    4   380500009   NaN 19980930    104900.0	888900.0
    5   380500136   SHLAA 20100101  219300.0	785300.0
    6   380500038   NaN 19980930    432200.0	1169800.0
    '''
s = cleandoc(s)
df = pd.read_csv(StringIO(s), sep = '\s+')
print(df)

   Site_Reference LA_Reference  Start_Date  eastings  northings
0       380500145          NaN    20130101   88600.0   855800.0
1       380500128          NaN    20060331  219000.0   949700.0
2       380500085          NaN    20030401  167700.0   726800.0
3       380500008          NaN    19980930  172400.0   771800.0
4       380500009          NaN    19980930  104900.0   888900.0
5       380500136        SHLAA    20100101  219300.0   785300.0
6       380500038          NaN    19980930  432200.0  1169800.0

In [6]:
escapes = pd.read_csv('https://www.dropbox.com/s/skmtmf2k13lorfz/escapes.csv?dl=1',encoding='cp1252')
escapes.head()

,Escape.ID,Operator.at.Time.of.Escape,Escape.Water.Type,Escape.Start.Date,Escape.Start.Time,Escape.End.Time,Escape.Grid.Reference,Escaped.Species,Stage,Age,...,Site.Contact.Number,Aquaculture.Type,Water.Type,Health.Surveillance,Easting,Northing,MS.Management.Area,Region,Operator,Species
0,2000408,the scottish salmon company,s,24-jul-14,16:30,24-jul-14,nf885558,atlantic salmon,broodfish,28 months,...,01546 602172,fish,seawater,medium,88600,855800,"7a - ronay, benbecula, n south uist",western isles,the scottish salmon company,"lumpsucker, atlantic salmon, wrasse"
1,2000270,loch duart ltd,s,09-nov-10,12:00,09-nov-10,NaN,atlantic salmon,grower fish (salmon only),18 months,...,01971 502451,fish,seawater,low,219000,949700,9b - laxford,highland,loch duart ltd,"wrasse, lumpsucker, atlantic salmon"
2,2000096,scottish sea farms ltd,s,24-sep-03,18:00,NaN,nm677268,atlantic salmon,grower fish (salmon only),30 months,...,NaN,fish,seawater,medium,167700,726800,NaN,strathclyde,scottish sea farms ltd,"atlantic salmon, lumpsucker, wrasse"
3,2000524,the scottish salmon company,f,22-oct-20,09:00,NaN,NaN,atlantic salmon,fish weighing more than 5 grams,9 months i,...,07909 527265,fish,freshwater,medium,172400,771800,not in a management area,highland,the scottish salmon company,atlantic salmon
4,2000296,the scottish salmon company,f,18-jan-12,NaN,18-jan-12,ng047 896,atlantic salmon,salmon fresh water stages,11 months,...,01546 602172,fish,freshwater,low,104900,888900,not in a management area,western isles,the scottish salmon company,atlantic salmon

In [8]:

def proj_transform(df):
    bng = pyproj.Proj("+init=EPSG:27700")
    wgs84 = pyproj.Proj("+init=EPSG:4326")
    lats = []
    lons = []
    for k, val in enumerate(df['Easting']):
        lon, lat = pyproj.transform(bng,wgs84,df['Easting'][k], df['Northing'][k])
        lats.append(lat)
        lons.append(lon)
    df['lat'] = lats
    df['lon'] = lons
    return df

In [9]:
df_transformed = proj_transform(escapes)

df_transformed.head()

/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

,Escape.ID,Operator.at.Time.of.Escape,Escape.Water.Type,Escape.Start.Date,Escape.Start.Time,Escape.End.Time,Escape.Grid.Reference,Escaped.Species,Stage,Age,...,Water.Type,Health.Surveillance,Easting,Northing,MS.Management.Area,Region,Operator,Species,lat,lon
0,2000408,the scottish salmon company,s,24-jul-14,16:30,24-jul-14,nf885558,atlantic salmon,broodfish,28 months,...,seawater,medium,88600,855800,"7a - ronay, benbecula, n south uist",western isles,the scottish salmon company,"lumpsucker, atlantic salmon, wrasse",57.485068,-7.198382
1,2000270,loch duart ltd,s,09-nov-10,12:00,09-nov-10,NaN,atlantic salmon,grower fish (salmon only),18 months,...,seawater,low,219000,949700,9b - laxford,highland,loch duart ltd,"wrasse, lumpsucker, atlantic salmon",58.398135,-5.098865
2,2000096,scottish sea farms ltd,s,24-sep-03,18:00,NaN,nm677268,atlantic salmon,grower fish (salmon only),30 months,...,seawater,medium,167700,726800,NaN,strathclyde,scottish sea farms ltd,"atlantic salmon, lumpsucker, wrasse",56.376251,-5.763834
3,2000524,the scottish salmon company,f,22-oct-20,09:00,NaN,NaN,atlantic salmon,fish weighing more than 5 grams,9 months i,...,freshwater,medium,172400,771800,not in a management area,highland,the scottish salmon company,atlantic salmon,56.781961,-5.727434
4,2000296,the scottish salmon company,f,18-jan-12,NaN,18-jan-12,ng047 896,atlantic salmon,salmon fresh water stages,11 months,...,freshwater,low,104900,888900,not in a management area,western isles,the scottish salmon company,atlantic salmon,57.792170,-6.967941

In [10]:
escapes.to_csv('/content/abc.csv')